
/*FIGURE */
figure { margin: 0; text-align: center; }

figcaption {
  margin-top: 0.4rem;
  font-size: 0.9rem;
  color: var(--text-muted);
}

/*PROGRAM BENEFITS SECTION*/

.benefits-section {
  padding: 10px 0;     /* between each section */
  max-width: 1150px;    
  margin: auto;
}

.benefits-title {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 23px;
}

/* Tabs for program benefit */
.tabs {
  display: flex;
  gap: 10px;
  background: #fff;
  padding: 8px;
  border-radius: 40px;
  border: 1px solid #e5e5ee;
  width: fit-content;
  margin-bottom: 35px;
}

.tabs button {
  padding: 10px 22px;
  border-radius: 30px;
  background: #ffffff;
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  color: #333;
}

.tabs button:hover {
  background: #f4f4ff;
}

.tabs button.active {
  background: linear-gradient(135deg, #b4007f, #ff5a2f);
  color: #000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

/* Tab Content */
.tab-content { display: none; }
.tab-content.active { display: block; }

/* Layout */
.tab-grid {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr; 
  gap: 70px;                         
  align-items: center;
  margin-bottom: 70px;   
  margin-left: 20px;
}


.tab-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Bullet list */
.tab-grid ul {
  font-size: 17px;
  line-height: 1.7;
  margin-left: 20px;
}

/* Image */
.tab-img-box img {
  width: 100%;
  max-width: 620px;   /* بدل 480px */
  border-radius: 22px;
  display: block;
}


/* FOOTER */
.site-footer {
  background-color: var(--footer-bg);
  color: #f0f0f0;
  padding: 1.2rem 0;
  font-size: 0.85rem;
}

.footer-content {
  text-align: center;
}

/*RESPONSIVE*/

@media (max-width: 900px) {
  .header-container {
    flex-direction: column;
  }

  .tab-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .tab-img-box img {
    margin: auto;
  }
}
